* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavender;
}

.capture_canvas {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    width: 100dvw;

    background-color: black;
    /* scale: -1 1; */
    
}

.notice {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;

    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
}